<template>
  <nav class="navbar navbar-expand-lg nav-header" id="nav-top">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav m-auto mt-lg-0">
        <li class="nav-item nav-header-item">
          <a class="nav-link">Hotline : 19001009 (8h - 17h)</a>
        </li>
        <li class="nav-item nav-header-item">
          <router-link class="nav-link" to="/">Home</router-link>
        </li>
        <li class="nav-item nav-header-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item nav-header-item">
          <a class="nav-link" href="#">Discount</a>
        </li>
        <li class="nav-item nav-header-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item nav-header-item">
          <a class="nav-link" href="#">Service</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "TopHeader",
};
</script>

<style scoped>
.nav-header {
  background-color: black;
  padding: 0;
}
.nav-header-item > a {
  color: white;
}
.nav-header-item {
  padding: 0px 10px;
  transition: 0.2s;
}
.nav-header-item :hover {
  background-color: white;
  color: black;
  transition: ease 0.2s;
}
#nav-top {
  padding: 0px 0px;
}
.navbar-collapse {
  margin: 0;
  padding: 0;
}
/* @media only screen and (max-width: 600px) {
  #nav-top {
    display: none;
  }
} */
</style>