<template>
  <div>
    <div v-if="newsDataLength != 0">
      <div class="mt-5 ml-0 container-fluid main row">
        <div class="col">
          <div class="bg-light rounded">
            <h3 class="text-center">NEWS</h3>
          </div>
          <carousel
            class="slider"
            id="slider-sale"
            :nav="false"
            :dots="false"
            :autoplayHoverPause="true"
            :loop="false"
            :autoHeight="true"
            :margin="10"
            :responsive="{
              0: { items: 1 },
              240: { items: 2 },
              700: { item: 3 },
              900: { items: 4 },
              1200: { items: 5 },
            }"
          >
            <div v-for="item in newsData" :key="item.id">
              <div class="item">
                <a
                  class="hrefnews text-dark"
                  href="../news/?id=<%=data.newsDB[i].id%>"
                >
                  <div class="card card-product card-news" style="width: 18rem">
                    <img
                      class="img-fluid card-img-top"
                      v-bind:src="'image/news/' + item.image"
                      alt="..."
                    />
                    <div class="card-body card-body-product">
                      <p class="card-text caption-news">
                        {{ item.caption }}
                      </p>
                    </div>
                    <div class="card-footer card-bottom-product">
                      <p>
                        <small class="text-muted"
                          >Creating date {{ item.created_date }}
                        </small>
                        <i class="text-muted float-right"
                          ><small>by {{ item.author }} </small></i
                        >
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from "vue-owl-carousel";
import { mapGetters } from "vuex";
export default {
  name: "News",
  components: { carousel },
  computed: {
    ...mapGetters(["newsData", "newsDataLength"]),
  },
};
</script>

<style>
</style>