<template>
  <div>
    <div>
      <SaleProduct />
      <ShoesProduct />
      <ShirtProduct />
      <AccessoriesProduct />
      <News />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import SaleProduct from "./SaleProduct.vue";
import ShoesProduct from "./ShoesProduct.vue";
import ShirtProduct from "./ShirtProduct.vue";
import AccessoriesProduct from "./AccessoriesProduct.vue";
import News from "./News.vue";
import $ from "jquery";
export default {
  name: "Product",
  components: {
    SaleProduct,
    ShoesProduct,
    ShirtProduct,
    AccessoriesProduct,
    News,
  },
  data() {
    return {};
  },
  created() {
    this.getHomePage();
  },
  mounted() {
    $(".slider").click(function () {
      console.log("i using jquery");
    });
    console.log("test mounted ", document.querySelector(".slider"));
  },
  computed: {},

  methods: {
    ...mapActions(["getHomePage"]),
  },
};
</script>

<style >
</style>