<template>
  <div v-if="saleDataLength != 0">
    <div class="mt-5 ml-0 sale container-fluid main row">
      <div class="col">
        <div class="bg-light rounded">
          <h3 class="text-center">SALE</h3>
        </div>
        <carousel
          class="slider"
          id="slider-sale"
          :nav="false"
          :dots="false"
          :autoplayHoverPause="true"
          :loop="false"
          :autoHeight="true"
          :margin="10"
          :responsive="{
            0: { items: 1 },
            240: { items: 2 },
            700: { item: 3 },
            900: { items: 4 },
            1200: { items: 5 },
          }"
        >
          <div v-for="item in saleData" :key="item.id">
            <div class="item">
              <div class="discount d-flex ml-auto align-items-center">
                <div class="icon-discount">
                  <img
                    class="img-fluid"
                    src="https://img.icons8.com/color/48/000000/discount--v1.png"
                  />
                </div>
                <div id="discount-content" class="ml-3 text-truncate">
                  {{ item.caption }}
                </div>
              </div>
              <div class="card card-product">
                <div class="card-top">
                  <img
                    v-bind:src="'/product/' + JSON.parse(item.image)[0]"
                    class="card-product-img-top"
                    alt="..."
                  />
                  <div class="d-none" id="image<%= data.saleDB[i].id %>">
                    {{ item.image }}
                  </div>
                </div>
                <div class="card-body card-body-product">
                  <p
                    class="card-text name-product"
                    id="name<%= data.saleDB[i].id %>"
                  >
                    {{ item.name }}
                  </p>
                  <label class="d-none" id="quantity<%= data.saleDB[i].id %>"
                    >1</label
                  >
                  <div class="card-bottom-product mt-auto">
                    <h6 class="card-title">
                      <div v-if="item.value != 100">
                        <strike>
                          {{ item.price + item.unit }}
                        </strike>
                        <span
                          class="card-title float-right discount-price"
                          id="price<%= data.saleDB[i].id %>"
                        >
                          {{ (item.price * item.value) / 100 + item.unit }}
                        </span>
                      </div>
                      <div v-else>
                        <span
                          class="card-title"
                          id="price<%= data.saleDB[i].id %>"
                        >
                          {{ item.price + item.unit }}
                        </span>
                      </div>
                    </h6>
                    <div v-if="item.size">
                      <div class="d-none" id="size<%=data.saleDB[i].id %>">
                        this is size
                      </div>
                    </div>
                    <div v-if="item.color">
                      <div class="d-none" id="color<%=data.saleDB[i].id %>">
                        this is color
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-product-btn text-center">
                  <a
                    class="btn-card-product btn-buy btn-add-to-cart"
                    data-id="<%= data.saleDB[i].id %>"
                    ><b-icon icon="search"></b-icon>
                  </a>
                  <a
                    href="../detail/?id=<%=data.saleDB[i].id%>"
                    class="btn-card-product btn-detail"
                    ><b-icon icon="cart-plus"></b-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </carousel>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from "vue-owl-carousel";
import { mapGetters } from "vuex";
export default {
  name: "SaleProduct",
  components: { carousel },
  computed: {
    ...mapGetters(["saleData", "saleDataLength"]),
  },
};
</script>

<style>
.card-product {
  position: relative;
  height: 400px;
  transition: 0.2s;
}
.card-product:hover .card-top {
  display: block;
  opacity: 0.7;
  transition: ease-in-out 0.2s;
}

.card-product:hover .card-body-product {
  opacity: 0.7;
  transition: ease-in-out 0.2s;
}
.card-product:hover .card-product-btn {
  display: block;
  opacity: 1;
  transition: ease-in-out 0.2s;
}
.card-top {
  height: 60%;
  position: relative;
  z-index: 2;
}
.card-product-img-top {
  display: block;
  position: relative;
  transition: 2s;
  max-height: 100%;
  max-width: 70%;
  padding: 10%;
  margin: auto;
}
.logo-icon {
  position: absolute;
  width: 20%;
  bottom: 5%;
}
.logo-icon > img {
  margin: auto;
}
.card-body-product {
  display: flex;
  flex-direction: column;
}
.card-bottom-product {
  margin-top: auto;
}
.name-product,
.caption-news {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.card-product-btn {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: ease-in-out 0.3s;
}
.btn-card-product {
  display: inline;
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 4% 5% 4% 5%;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  margin: 1px;
}
.btn-card-product:hover {
  color: white;
}
.discount {
  top: 0;
  position: absolute;
  z-index: 3;
}
#discount-content {
  width: fit-content;
  color: red;
  font-size: larger;
  font-weight: 800;
  font-family: calibri;
}
.discount-price {
  color: red;
}
.card-news {
  cursor: pointer;
}
.item > a {
  text-decoration: none;
}
</style>