<template>
  <div>
    <div v-if="shoesDataLength != 0">
      <div class="mt-5 ml-0 container-fluid main row">
        <div class="col">
          <div class="bg-light rounded">
            <h3 class="text-center">SHOES</h3>
          </div>
          <carousel
            class="slider"
            id="slider-sale"
            :nav="false"
            :dots="false"
            :autoplayHoverPause="true"
            :loop="false"
            :autoHeight="true"
            :margin="10"
            :responsive="{
              0: { items: 1 },
              240: { items: 2 },
              700: { item: 3 },
              900: { items: 4 },
              1200: { items: 5 },
            }"
          >
            <div v-for="item in shoesData" :key="item.id">
              <div class="item">
                <div class="discount d-flex ml-auto align-items-center">
                  <div v-if="item.caption != null">
                    <div class="icon-discount">
                      <img
                        class="img-fluid"
                        src="https://img.icons8.com/color/48/000000/discount--v1.png"
                      />
                    </div>
                    <div id="discount-content" class="ml-3 text-truncate">
                      {{ item.caption }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-product">
                <div class="card-top">
                  <img
                    v-bind:src="'/product/' + JSON.parse(item.image)[0]"
                    class="card-product-img-top"
                    alt="..."
                  />
                  <div class="d-none" id="image<%= data.shoesDB[i].id %>">
                    {{ item.image }}
                  </div>
                </div>
                <div class="card-body card-body-product">
                  <p
                    class="card-text name-product"
                    id="name<%= data.shoesDB[i].id %>"
                  >
                    {{ item.name }}
                  </p>
                  <label class="d-none" id="quantity<%= data.shoesDB[i].id %>"
                    >1</label
                  >
                  <div v-if="item.size">
                    <div class="d-none" id="size<%=data.shoesDB[i].id %>">
                      this is size
                    </div>
                  </div>

                  <div v-if="item.color">
                    <div class="d-none" id="color<%=data.saleDB[i].id %>">
                      this is color
                    </div>
                  </div>
                  <div class="card-bottom-product mt-auto">
                    <h6 class="card-title">
                      <div v-if="item.value != 100 && item.value != null">
                        <strike>
                          {{ item.price + item.unit }}
                        </strike>
                        <span
                          class="card-title float-right discount-price"
                          id="price<%= data.shoesDB[i].id %>"
                        >
                          {{ (item.price * item.value) / 100 + item.unit }}
                        </span>
                      </div>
                      <div v-else>
                        <span
                          class="card-title"
                          id="price<%= data.shoesDB[i].id %>"
                        >
                          {{ item.price + item.unit }}
                        </span>
                      </div>
                    </h6>
                  </div>
                </div>
                <div class="card-product-btn text-center">
                  <a
                    class="btn-card-product btn-buy btn-add-to-cart"
                    data-id="<%=data.shoesDB[i].id %>"
                    ><b-icon icon="search"></b-icon
                  ></a>
                  <a
                    href="../detail/?id=<%=data.shoesDB[i].id%>"
                    class="btn-card-product btn-detail"
                    ><b-icon icon="cart-plus"></b-icon
                  ></a>
                </div>
              </div>
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from "vue-owl-carousel";
import { mapGetters } from "vuex";
export default {
  name: "ShoesProduct",
  components: { carousel },
  computed: {
    ...mapGetters(["shoesData", "shoesDataLength"]),
  },
};
</script>

<style>
</style>