<template>
  <div id="bottom">
    <div class="card text-center bg-dark text-light">
      <div class="card-header">Turborvip</div>
      <div class="card-body">
        <h5 class="card-title">All thing happen what is should happen</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
      <div class="card-footer text-muted">Made by Thanh Dat</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Bottom",
};
</script>

<style scoped>
#bottom {
  position: static;
}
</style>