<template>
  <div id="home">
    <Carousel />
    <Method />
    <Product />
  </div>
</template>

<script>
import Carousel from "./Slider/Banner.vue";
import Product from "./Content/Product.vue";
import Method from "./Method/Method.vue";
export default {
  name: "Home",
  components: { Carousel, Method, Product },
};
</script>

<style scoped>
body {
  margin: 0;
  padding: 0;
}
#home {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
