<template>
  <div class="row methods">
    <div class="col-3 p-2 function">
      <div class="icon m-2">
        <b-icon icon="minecart" aria-hidden="true" font-scale="2"></b-icon>
      </div>
      <div class="content">
        <strong>FREE SHIPPING</strong>
        <div>We offer free shipping for orders over 100,000 VND</div>
      </div>
    </div>
    <div class="col-3 p-2 function">
      <div class="icon m-2">
        <b-icon icon="headset" aria-hidden="true" font-scale="2"></b-icon>
      </div>
      <div class="content">
        <strong>ONLINE SUPPORT 24/24</strong>
        <div>
          Our consulting team is always ready to help you when you have problems
        </div>
      </div>
    </div>
    <div class="col-3 p-2 function">
      <div class="icon m-2">
        <b-icon icon="gift" aria-hidden="true" font-scale="2"></b-icon>
      </div>
      <div class="content">
        <strong>WEEKEND GIFTS</strong>
        <div>Big promotion, get gifts every Saturday and Sunday</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Method",
};
</script>

<style scoped>
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.methods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 70%;
  padding: 20px;
}
.function {
  margin: 20px;
  box-shadow: 1px 5px 15px 1px #e6e6e6;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s; /* Safari */
  transition: ease-in-out transform 0.3s;
}
.function:hover {
  transform: translate(0px, -15px);
}
.content {
  padding: 5px;
}
.content > div {
  font-family: calibri;
  font-weight: 400;
  font-size: 1rem;
}
</style>