<template>
  <div id="header">
    <TopHeader />
    <Navbar />
  </div>
</template>

<script>
import TopHeader from "./TopHeader/TopHeader.vue";
import Navbar from "./Navbar/Navbar.vue";
export default {
  name: "Header",
  components: { TopHeader, Navbar },
};
</script>

<style>
</style>