<template>
  <div id="login">
    <div class="materialContainer">
      <div class="box">
        <div class="title">LOGIN</div>
        <div class="text-danger alert fw-bold"></div>
        <div class="input">
          <label for="name">Username</label>
          <input class="username" type="text" name="name" id="name" />
          <span class="spin"></span>
        </div>

        <div class="input">
          <label for="pass">Password</label>
          <input class="password" type="password" name="pass" id="pass" />
          <span class="spin"></span>
        </div>

        <div class="button login">
          <button><span>GO</span> <i class="fa fa-check"></i></button>
        </div>

        <a href="" class="pass-forgot">Forgot your password?</a>
      </div>

      <div class="overbox">
        <div class="material-button alt-2"><span class="shape"></span></div>

        <div class="title">REGISTER</div>

        <div class="input">
          <label for="regname">Username</label>
          <input
            class="user-register"
            type="text"
            name="regname"
            id="regname"
          />
          <span class="spin"></span>
        </div>

        <div class="input">
          <label for="regpass">Password</label>
          <input
            class="pass-register"
            type="password"
            name="regpass"
            id="regpass"
          />
          <span class="spin"></span>
        </div>

        <div class="input">
          <label for="reregpass">Repeat Password</label>
          <input
            class="repass-register"
            type="password"
            name="reregpass"
            id="reregpass"
          />
          <span class="spin"></span>
        </div>

        <div class="button register" id="five">
          <button><span>NEXT</span></button>
        </div>
        <div id="modal-container">
          <div class="modal-background">
            <div class="modal">
              <h2 class="content-modal text-info"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  name: "Login",
  data() {
    return {};
  },
  mounted() {
    $(function () {
      $(".input input")
        .focus(function () {
          $(this)
            .parent(".input")
            .each(function () {
              $("label", this).css({
                "line-height": "18px",
                "font-size": "18px",
                "font-weight": "100",
                top: "0px",
              });
              $(".spin", this).css({
                width: "100%",
              });
            });
        })
        .blur(function () {
          $(".spin").css({
            width: "0px",
          });
          if ($(this).val() == "") {
            $(this)
              .parent(".input")
              .each(function () {
                $("label", this).css({
                  "line-height": "60px",
                  "font-size": "24px",
                  "font-weight": "300",
                  top: "10px",
                });
              });
          }
        });

      $(".button").click(function (e) {
        var pX = e.pageX,
          pY = e.pageY,
          oX = parseInt($(this).offset().left),
          oY = parseInt($(this).offset().top);

        $(this).append(
          '<span class="click-efect x-' +
            oX +
            " y-" +
            oY +
            '" style="margin-left:' +
            (pX - oX) +
            "px;margin-top:" +
            (pY - oY) +
            'px;"></span>'
        );
        $(".x-" + oX + ".y-" + oY + "").animate(
          {
            width: "500px",
            height: "500px",
            top: "-250px",
            left: "-250px",
          },
          600
        );
        $("button", this).addClass("active");
      });

      $(".alt-2").click(function () {
        if (!$(this).hasClass("material-button")) {
          $(".shape").css({
            width: "100%",
            height: "100%",
            transform: "rotate(0deg)",
          });

          setTimeout(function () {
            $(".overbox").css({
              overflow: "initial",
            });
          }, 600);

          $(this).animate(
            {
              width: "140px",
              height: "140px",
            },
            500,
            function () {
              $(".box").removeClass("back");

              $(this).removeClass("active");
            }
          );

          $(".overbox .title").fadeOut(300);
          $(".overbox .input").fadeOut(300);
          $(".overbox .button").fadeOut(300);

          $(".alt-2").addClass("material-buton");
        }
      });

      $(".material-button").click(function () {
        if ($(this).hasClass("material-button")) {
          setTimeout(function () {
            $(".overbox").css({
              overflow: "hidden",
            });
            $(".box").addClass("back");
          }, 200);
          $(this).addClass("active").animate({
            width: "700px",
            height: "700px",
          });

          setTimeout(function () {
            $(".shape").css({
              width: "50%",
              height: "50%",
              transform: "rotate(45deg)",
            });

            $(".overbox .title").fadeIn(300);
            $(".overbox .input").fadeIn(300);
            $(".overbox .button").fadeIn(300);
          }, 700);

          $(this).removeClass("material-button");
        }

        if ($(".alt-2").hasClass("material-buton")) {
          $(".alt-2").removeClass("material-buton");
          $(".alt-2").addClass("material-button");
        }
      });
    });

    $(".login").click(function () {
      let username = $(".username").val();
      let password = $(".password").val();
      let regexUser =
        /^[A-Za-z0-9]{6,32}$/; /*- Chứa các ký tự A đến Z, a đến z, 0-9 dấu .  và dấu gạch dưới Độ dài 6 đến 32 ký tự */
      let regexPass =
        /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/; /* Tối thiểu sáu ký tự, ít nhất một chữ cái và một số: */
      let check1 = regexUser.test(username);
      let check2 = regexPass.test(password);
      if (check1 && check2) {
        $(".alert").attr("style", "display:none");
        $.ajax({
          type: "POST",
          url: "http://localhost:3000/login/check",
          dataType: "JSON",
          data: { username, password },
          success: function (res) {
            if (res.res == true) {
              let user = [
                { id: res.userDB.id },
                { username: res.userDB.user_name },
                { name: res.userDB.name },
                { email: res.userDB.email },
                { phone: res.userDB.phone },
              ];
              localStorage.setItem("user", JSON.stringify(user));
              location.replace("/");
              console.log("user thông tin của nó", user);
            } else {
              console.log("check", "mật khẩu sai");
              $(".alert").attr("style", "display:block");
              $(".alert").text("Username or Password is wrong");
            }
          },
        });
      } else {
        $(".alert").attr("style", "display:block");
        $(".alert").text("Username or Password is wrong");
      }
    });

    $(".register").click(function () {
      let user = $(".user-register").val();
      let pass = $(".pass-register").val();
      let repass = $(".repass-register").val();
      let regexUser =
        /^[A-Za-z0-9]{6,32}$/; /*- Chứa các ký tự A đến Z, a đến z, 0-9 dấu .  và dấu gạch dưới Độ dài 6 đến 32 ký tự */
      let regexPass =
        /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/; /* Tối thiểu sáu ký tự, ít nhất một chữ cái và một số: */
      let check1 = regexUser.test(user);
      let check2 = regexPass.test(repass);
      let check3;
      if (pass == repass) {
        check3 = true;
      } else {
        check3 = false;
      }
      if (check1 && check2 && check3) {
        $(".content-modal").html("Checking...");
        console.log("user", user);
        console.log("pass", repass);
        $.ajax({
          type: "POST",
          url: "http://localhost:3000/register",
          data: { user, repass },
          dataType: "JSON",
          success: function (res) {
            if (res.res == true) {
              $(".content-modal").html(" Successfully created");
              console.log("check", res.res);
            } else {
              console.log("check", "tồn tại user");
              $(".content-modal").html("Username already exists");
            }
          },
        });
      } else {
        $(".content-modal").html("Error");
      }
    });

    $(".button").click(function () {
      var buttonId = $(this).attr("id");
      $("#modal-container").removeAttr("class").addClass(buttonId);
      $("body").addClass("modal-active");
    });

    $("#modal-container").click(function () {
      $(this).addClass("out");
      $("body").removeClass("modal-active");
    });
  },
};
</script>

<style scoped>
.box {
  position: relative;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}
.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.overbox .title {
  color: #fff;
}
.overbox .title:before {
  background: #fff;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ed2553;
  position: relative;
}
.title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: #ed2553;
}

.input {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input label,
.input input,
.input .spin {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button button .button.login button i.fa {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button .shape:before,
.material-button .shape:after {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.login button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  width: 100%;
  float: left;
}
.input label,
.input input,
.input .spin {
  width: 100%;
  float: left;
}

.button {
  width: 100%;
  float: left;
}
.button button {
  width: 100%;
  float: left;
}

.input,
.button {
  margin-top: 30px;
  height: 70px;
}

.input {
  position: relative;
}
.input input {
  position: relative;
}

.button {
  position: relative;
}
.button button {
  position: relative;
}

.input input {
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.input label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.button button {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.input:before,
.input .spin {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.input:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.input .spin {
  background: #ed2553;
  z-index: 4;
  width: 0;
}

.overbox .input .spin {
  background: white;
}

.overbox .input:before {
  background: rgba(255, 255, 255, 0.5);
}

.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}

.button {
  margin-top: 20px;
  margin: 40px 0;
  overflow: hidden;
  z-index: 2;
}
.button.login {
  width: 60%;
  left: 20%;
}
.button.login button {
  width: 100%;
  line-height: 64px;
  left: 0%;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}
.button button {
  width: 100%;
  line-height: 64px;
  left: 0%;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}
.button.login {
  margin-top: 30px;
}
.button button {
  background-color: #fff;
  color: #ed2553;
  border: none;
}
.button.login button.active {
  border: 3px solid transparent;
  color: #fff !important;
}
.button.login button.active span {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
}
.button.login button.active i.fa {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
}
.button.login button i.fa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  transform: scale(0) rotate(-45deg);
  -webkit-transform: scale(0) rotate(-45deg);
  -ms-transform: scale(0) rotate(-45deg);
}
.button.login button:hover {
  color: #ed2553;
  border-color: #ed2553;
}
.button button {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.pass-forgot {
  width: 100%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: #ed2553;
  border-radius: 50%;
}

.overbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  border-radius: 10px;
  padding: 60px 50px 40px 50px;
}
.overbox .title,
.overbox .button,
.overbox .input {
  z-index: 111;
  position: relative;
  color: #fff !important;
  display: none;
}
.overbox .title {
  width: 80%;
}
.overbox .input {
  margin-top: 20px;
}
.overbox .input input,
.overbox .input label {
  color: #fff;
}
.overbox .material-button,
.overbox .alt-2 {
  display: block;
}
.overbox .material-button .shape,
.overbox .alt-2 .shape {
  display: block;
}

.material-button,
.alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ed2553;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

#login {
  background-image: url("https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;
}

html {
  overflow: hidden;
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html.modal-active,
body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 999;
}

#modal-container.five {
  transform: scale(1);
}

#modal-container.five .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.five.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  background: white;
  padding: 10px 80px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
  z-index: 999;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.modal {
  position: absolute;
  top: -55%;
  z-index: 999;
  height: 10%;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(255, 255, 255, 0.7);
  }

  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }

  99.9% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }

  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }

  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }

  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }

  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
</style>