<template>
  <div id="app">
    <Header />
    <router-view />
    <Bottom />
  </div>
</template>

<script>
import Header from "./components/Header/Header.vue";
import Bottom from "./components/Bottom/Bottom.vue";
export default {
  name: "App",
  components: { Header, Bottom },
};
</script>

<style scoped>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
