<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="light" class="menu-nav-top">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-brand>
          <router-link to="/" class="nameshop"> TurborvipShop </router-link>
        </b-navbar-brand>
        <b-navbar-nav class="m-auto">
          <b-nav-item
            class="nav-item"
            href="#"
            v-on:mouseenter="hoverGender(1)"
          >
            <span class="text-menu-category">MAN</span>
            <div class="menu-child">
              <TreeMenu v-bind:menulist="menuGenderData" />
            </div>
          </b-nav-item>
          <b-nav-item
            class="nav-item"
            href="#"
            v-on:mouseenter="hoverGender(2)"
          >
            <span class="text-menu-category">WOMAN</span>
            <div class="menu-child">
              <TreeMenu v-bind:menulist="menuGenderData" />
            </div>
          </b-nav-item>
          <b-nav-item
            class="nav-item"
            href="#"
            v-on:mouseenter="hoverGender(0)"
          >
            <span class="text-menu-category">KIDS</span>
            <div class="menu-child">
              <TreeMenu v-bind:menulist="menuGenderData" />
            </div>
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="" id="all-icon-menu">
          <b-nav-item href="#">
            <a class="nav-link cart">
              <img
                src="https://img.icons8.com/windows/32/000000/shopping-cart.png"
              />
              <span class="text-danger" id="lengthCart"></span>
            </a>
          </b-nav-item>
          <b-nav-item href="#">
            <a class="nav-link user icon-menu">
              <img src="https://img.icons8.com/windows/32/000000/user.png" />
            </a>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link logout icon-menu" to="/login">
              <img
                src="https://img.icons8.com/ios-glyphs/28/000000/logout-rounded--v1.png"
              />
            </router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script >
import { mapActions, mapGetters } from "vuex";
import TreeMenu from "./TreeMenu.vue";
export default {
  name: "Navbar",
  components: { TreeMenu },
  data() {
    return {
      menuGenderData: [],
    };
  },
  created() {
    this.getMenu();
  },
  props: [],
  computed: { ...mapGetters(["manMenuCategory"]) },
  methods: {
    ...mapActions(["getMenu"]),
    hoverGender(gender) {
      if (gender == 1) {
        this.menuGenderData = this.$store.getters.maleMenuCategory;
      } else if (gender == 2) {
        this.menuGenderData = this.$store.getters.femaleMenuCategory;
      } else if (gender == 0) {
        this.menuGenderData = this.$store.getters.childCategory;
      }
    },
  },
};
</script>
<style scoped>
/* .menu-nav-top {
} */
#all-icon-menu {
  width: fit-content;
}
.cart,
.user,
.logout {
  width: fit-content;
}
.icon-menu {
  transition: ease 0.2s;
}
.icon-menu:hover {
  transform: rotateY(150deg);
  transition: 0.4s;
}
.cart > span {
  color: red;
}
.cart {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
}

.cart:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.logout,
.user {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
}
/* css MEN,WOMAN,KIDS */
.text-menu-category {
  position: relative;
  margin: 0px 5px;
}

.text-menu-category::before,
.text-menu-category::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #fc2f70;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.text-menu-category::before {
  left: -8px;
  transform-origin: center top;
}

.text-menu-category:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.text-menu-category::after {
  right: -8px;
  transform-origin: center bottom;
}

.text-menu-category:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}
.nav-item:hover .menu-child {
  display: block;
}
.menu-child {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  padding: 15px 15px;
  z-index: 50;
  opacity: 0.9;
  overflow-y: scroll;
  left: 0;
}
.enable {
  display: block;
}
.disable {
  display: none;
}
.space {
  margin-left: 10px;
}
.nameshop {
  text-decoration: none;
  color: black;
}
</style>