<template>
  <b-row>
    <b-col v-for="item in menuLevel0" :key="item.id">
      <div>{{ item.title }}</div>
      <div v-for="child in menuLevelChild(item.id)" :key="child.id">
        {{ child.title }}
        <div v-for="a in menuLevelChild(child.id)" :key="a.id">
          &nbsp;&nbsp;
          {{ a.title }}
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "TreeMenu",
  props: ["menulist"],
  data() {
    return {};
  },
  computed: {
    menuLevel0() {
      return this.menulist.filter((item) => item.level == 0);
    },
  },
  methods: {
    menuLevelChild(parent_id) {
      return this.menulist.filter((item) => item.parent_id == parent_id);
    },
  },
};
</script>

<style>
</style>