<template >
  <div>
    <carousel
      class="slider"
      :items="1"
      :nav="false"
      :dots="false"
      :autoplayHoverPause="true"
      :loop="true"
      :autoHeight="true"
      :center="true"
    >
      <img v-for="item in images" :src="item.src" :key="item.src" />
    </carousel>
  </div>
</template>
<script>
import carousel from "vue-owl-carousel";
export default {
  name: "Slider",
  components: { carousel },
  data: function () {
    return {
      images: [
        { src: "/slider/vans2.jpg" },
        { src: "/slider/newbalance.jpg" },
        { src: "/slider/coolmate.jpg" },
        { src: "/slider/bitis.jpg" },
        { src: "/slider/vans.jpg" },
        { src: "/slider/bitis2.jpg" },
      ],
    };
  },
};
</script>

<style scoped>
</style>